@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Nunito+Sans:opsz,wght@6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900&display=swap');

.nav-menu ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navlink{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    height: 50px;
    padding: 5px;
}

.logo-text{
    font-family: 'Poppins', sans-serif;
    align-items: center;
}

.navbar-menu-text, .MuiButton-root, .MuiButtonBase-root{
    font-family: Nunito Sans, sans-serif;
    font-weight: 400;
    font-size: 7pt;
}
